html, body {
    margin: 0;
    height: 100%;
    font-size: larger;
}

body {
    display: grid;
    grid-template: auto 1fr / min-content 1fr;
    margin: 0;
}

div.header {
    background-color: #0369a1;
    display: grid;
    grid-template: auto auto / auto auto;
    padding: 1rem 2rem;
}

div.header form img {
    height: 1rem;
    display: block;
}

div.header form button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

div.header form input {
    border: none;
    border-radius: 0.5rem;
}

div.header form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.header div.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

div.header div.profile img.icon {
    height: 1rem;
}

div.header div.profile img {
    height: 2rem;
    aspect-ratio: 1;
    object-fit: cover   ;
    border-radius: 1rem;
}

div.nav {
    background-color: #0284c7;
    font-family: Poppins, sans-serif;
    grid-row: 1 / -1;
    padding: 0.5rem;
    padding-right: 3rem;
    display: grid;
    grid-template: repeat(10, min-content) / 1fr 7fr;
    place-items: center;
    gap: 0.5rem;
    color: white;
}

div.nav img.title {
    height: 2rem;
}

div.nav .title, div.nav .last {
    margin-bottom: 1rem;
}

div.nav a, div.nav span {
    justify-self: start;
    color: inherit;
    text-decoration: none;
}

div.nav img {
    height: 1rem;
}

div.content {
    background-color: #0f172a;
}
